{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="page">
    <section class="link">

        <div class="container">
            <div class="link__inner">
                <div class="circle"></div>
                <h2 class="link__title">Сокращатель Ссылок</h2>
                <form method="post" class="link__form">
                    {% csrf_token %}
                    <div class="link__input">
                        <label for="link" class="link__label">Введите вашу ссылку</label>
                        <input type="text" class="link__field" name="link" id="link">
                    </div>
                    <div class="link__send">
                        <button class="link__btn">Кликни</button>
                    </div>
                </form>
                {% if  link %}
                    <div class="link__answer">
                        <p class="link__answ">А вот и твоя ссылка:</p>
                        <a href="{{ link }}" class="answer">{{ short_link }}</a>
                    </div>
                {% elif error_message != "" %}
                    <p class="link__answ">{{ error_message }}</p>
                {% else %}
                    <p class="link__answ">Здесь появиться твоя ссылка</p>
                {% endif %}

            </div>
        </div>
    </section>
</div>
</body>
</html>